../doubly_linked_lists/0-main.c
        ../doubly_linked_lists/1-main.c
        ../doubly_linked_lists/2-main.c
        ../doubly_linked_lists/7-main.c
        ../doubly_linked_lists/8-main.c
        ../doubly_linked_lists/a
        ../doubly_linked_lists/b
        ../doubly_linked_lists/c
        ../doubly_linked_lists/j
        ../doubly_linked_lists/k
        0-main.c
        1-main.c
        2-main.c
        Incitatous
        Requiescat
        a
        b
        c
        cp
        hello
        incitatous
        ../singly_linked_lists/3-main.c
        ../singly_linked_lists/4-main.c
        ../singly_linked_lists/d
        ../singly_linked_lists/e